<div class="form-group">
    <label class="label h4">
        Ποιoς είμαι;
    </label>
    <br />
    <hr />
    <p class="p">
        Γεννήθηκα και μεγάλωσα στην Αθήνα. Από μικρός ασχολούμουν με τους υπολογιστές και τα μαθηματικά.
    </p>
    <p class="p">
        Είμαι {{ getAge() }} ετών.
    </p>
</div>

<div class="form-group">
    <label class="label h4">
        Σουδές
    </label>
    <br />
    <hr />
    <p class="p">
        Αποφοίτησα από το τμήμα Πληροφορικής του Οικονομικού Πανεπιστημίου Αθηνών στα 4 χρόνια.
    </p>
    <p class="p">
        Επέλεξα αυτό το τμήμα καθώς το πρόγραμμα σπουδών του ήταν πιο κοντά στα ενδιαφέροντα μου.
    </p>
</div>