<div class="form-group">
    <label class="label h4">
        Innovation Sprint
    </label>
    <br />
    <span class="label">
        Full Stack Engineer
    </span>
    <hr />
    <p class="p">
        Η Innovation Sprint παρέχει λογισμικό που βοηθά γιατρούς και νοσοκομεία στις διάφορες μελέτες που πραγματοποιούν.
    </p>
</div>

<div class="form-group">
    <label class="label h4">
        Eventora
    </label>
    <br />
    <span class="label">
        Web Developer
    </span>
    <hr />
    <p class="p">
        Η Eventora παρέχει λογισμικό για την διαχείριση εκδηλώσεων.
        Οι διοργανωτές δημοσιεύουν τα event τους και όποιος θέλει να παρευρεθεί κλείνει το εισιτήριο του.
    </p>
</div>