<div class="form-group">
    <label class="label h4">
        Angular 12 - Complete Beginner's Guide 2021
    </label>
    <br />
    <span class="label">
        6 ώρες
    </span>
    <hr />
    <p class="p">
        Front End Web Development, Component, Service, Route, Module, Decorator, HTTPClient, Typescript, Angular.js successor
    </p>
</div>

<div class="form-group">
    <label class="label h4">
        Master ASP.NET MVC Core 3.1
    </label>
    <br />
    <span class="label">
        17 ώρες
    </span>
    <hr />
    <p class="p">
        Master ASP.NET MVC Core with hands on experience on real world website. A step by step course to learn ASP.NET Core MVC
    </p>
</div>

<div class="form-group">
    <label class="label h4"> 
        Complete Guide to Android UI Design, Styles & Animations
    </label>
    <br />
    <span class="label">
        9 ώρες
    </span>
    <hr />
    <p class="p">
        Enhance Android UI Design by implementing application styles and themes, the Material Design library, and animations
    </p>
</div>